.ldap-group-color    {background-color: #90EE90 !important;color: #000000 !important;}
.ldap-ou-color       {background-color: #ADD8E6 !important;color: #000000 !important;}
.odoo-usertype-color {background-color: #FFB6C1 !important;color: #000000 !important;}
.odoo-other-color    {background-color: #DEB887 !important;color: #000000 !important;}